gradio
prettytable
jupyter_client
jupyter_core
jupyter-events
jupyter_server
jupyter_server_fileid
jupyter-server-mathjax
jupyter_server_terminals
jupyter_server_ydoc
jupyter-ydoc
jupyterlab
jupyterlab-git
jupyterlab-pygments
jupyterlab_server

